.my-button {
  background-color: transparent;
  color: black;
  margin: 8px;
  border-width: 1px;
  border-color: rgba(1,1,1,.1);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 16px;
  box-shadow: 0 4px 16px #26418f, 0 3px 6px #26418f;
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}
