header {
  background: #5c6bc0;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.26);
  font-family: Arial, sans-serif;
  z-index: 1000;
}


h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  padding: 48px 24px;
}
