.app-profile {

  margin-top: 5%;
  margin-left: 24px;
  margin-right: 24px;
  width: 700px;
}

button {
  background-color: transparent;
  color: black;
  margin: 8px;
  border-width: 1px;
  border-color: rgba(1,1,1,.1);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 16px;
  box-shadow: 0 4px 16px #26418f, 0 3px 6px #26418f;
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}

weather-forecast {
  width: 350px;
  font-size: 20px;
  margin-left: 8px;

}

h1 {
  font-size: 24px;
}

p {
  font-size: 21px;
}

hr {
  margin-top: 16px;
}
